nav ol {
    display: flex;
    list-style: none;
    justify-content: space-between;
    background-color: rgb(252, 216, 255)
    
}

body {
    font-family: roboto;
    border: 50px;
    border-color: rgb(255, 197, 88);
    background-color: rgb(144, 215, 197);
    margin: 100px;
    padding: 10px;
    
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    padding: 25px;
    background-color: rgb(252, 216, 255)
}

 p{
    background-color: blanchedalmond;
    padding: 25px;
}

div{
    background-color: blanchedalmond;
    padding: 25px;
}